/* global section */

* {
  margin: 0px;
  padding: 0px;
}
body {
  font-family: "Lato", sans-serif;
}
header {
  background: rgba(229, 84, 115, 0.1);
}
section {
  margin: 128px 0px;
}
.flex {
  display: flex;
}
.title {
  color: #272727;
  font-size: 40px;
  font-weight: 800;
}
.description {
  color: rgba(39, 39, 39, 0.6);
  font-size: 18px;
  padding: 24px 0px;
  line-height: 30px;
}
.btn {
  padding: 20px 43px;
  background-color: #e55473;
  color: #fff;
  border: none;
  font-size: 20px;
  border: 0;
  border-radius: 8px;
  cursor: pointer;
}
.btn:hover {
  background-color: #d44161;
}
/* NAVBAR SECTION */
/* nav{
    position: fixed;
    overflow: hidden;
    width: 100%;
    top: 0;
    background-color: rgba(255, 163, 183)
} */
.navbar {
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  border-bottom: 1px solid #b71f3659;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}
.logo h2 {
  font-size: 45px;
  font-weight: 900;
}
span {
  color: #e55473;
}
.menu ul li {
  list-style: none;
}
.menu ul a {
  font-size: 20px;
  font-weight: 700;
  color: rgba(39, 39, 39, 0.6);
  margin-right: 24px;
  text-decoration: none;
}
.fa-spa {
  color: #e55473;
}

/* banner section */
.banner {
  align-items: center;
  justify-content: left;
  height: 100vh;
  margin: 0px 240px;
  background-image: url("asset/pngwing\ 10.png");
  background-repeat: no-repeat;
  background-position: bottom right;
}
.banner-details {
  width: 708px;
}
.banner-title {
  font-size: 80px;
  font-weight: 800;
}
.banner-description {
  padding: 32px 0px;
  width: 635px;
}

/* FEATURED SECTION */
.featured {
  margin-top: 72px;
}
.featured-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 24px;
}
.featured-details p {
  width: 594px;
  text-align: center;
}
.featured-img-container {
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.image-boxes {
  margin: 0px 12px;
}
.image-box {
  width: 464px;
  height: 538px;
  border-radius: 300px 300px 0px 0px;
  background: rgba(167, 33, 98, 0.15);
}
.image-box img {
  margin-bottom: -522px;
}
.image-title {
  padding-top: 32px;
  color: #272727;
  font-size: 24px;
  font-weight: 700;
  line-height: 35px;
}
.box1{
    background: rgba(167, 33, 98, 0.15);
}
.box2{
    background: rgba(5, 151, 160, 0.15);
}
.box3{
    background: rgba(71, 125, 17, 0.15);
}

/* MARGIN FOR SPECIFIC DIVS AND SECTIONS */

.featured-img-container,
.support,
.instagram-sec,
.latest-deal {
  margin: 0px 240px;
}


/* SUPPORT SECTION */

.support {
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  padding: 86px 0px;
}
.support-elements {
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 100px;
}
.support-title {
  color: rgba(39, 39, 39, 0.8);
  font-size: 24px;
  font-weight: 600;
  line-height: 35px;
}

/* HOT DEAL SECTION */
.hot-deal {
  background: rgba(229, 84, 115, 0.05);
}
.hot-deal-container{
    justify-content: center;
    text-align: center;
    align-items: center;
    gap: 186px;
}
.hot-deal-img{
    width: 318px;
    padding: 100px;
}
.hot-deal-details{
    width: 594px;
}

/* LATEST DEAL SECTION */

.deal-contaner {
  margin: auto;
  text-align: center;
}
